/**
 * Material Icons - 아이콘 폰트
 * @description 모바일 최적화 아이콘 폰트
 */

@use '../abstracts' as *;

// Material Icons (Filled)
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/material-icons-v145-latin-regular.woff2') format('woff2');
}

// Material Icons Outlined
@font-face {
  font-family: 'Material Icons Outlined';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/material-icons-outlined-v109-latin-regular.woff2') format('woff2');
}

// 아이콘 기본 스타일
.material-icons,
.material-icons-outlined {
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  
  // 안티앨리어싱
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  
  // 터치 최적화
  user-select: none;
  -webkit-user-select: none;
  
  // 모바일 탭 하이라이트 제거
  -webkit-tap-highlight-color: transparent;
}

.material-icons {
  font-family: 'Material Icons';
}

.material-icons-outlined {
  font-family: 'Material Icons Outlined';
}

// 아이콘 크기 변형 (모바일 터치 최적화)
.icon-xs { font-size: $icon-size-xs; }  // 16px
.icon-sm { font-size: $icon-size-sm; }  // 20px
.icon-md { font-size: $icon-size-md; }  // 24px
.icon-lg { font-size: $icon-size-lg; }  // 32px
.icon-xl { font-size: $icon-size-xl; }  // 48px

// 아이콘 색상 (_variables.scss 기반)
.icon-default { color: $icon-color-default; }
.icon-primary { color: $icon-color-primary; }
.icon-secondary { color: $icon-color-secondary; }
.icon-tertiary { color: $icon-color-tertiary; }
.icon-success { color: $icon-color-success; }
.icon-warning { color: $icon-color-warning; }
.icon-error { color: $icon-color-error; }
.icon-inverse { color: $icon-color-inverse; }
